.space-horizontal {
  margin-left: 10px;
  margin-right: 10px;
}

p.learn-more {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #cfd8dc;
  color: #446f7a;
  margin: 0px;
}

div.am-container {
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 375px) {
  div.am-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}
