/*
 * File: /Users/origami/Desktop/timvel-web/src/modules/landing/landing.css
 * Project: /Users/origami/Desktop/timvel-web
 * Created Date: Wednesday April 3rd 2019
 * Author: Rick yang tongxue(🍔🍔) (origami@timvel.com)
 * -----
 * Last Modified: Tuesday April 30th 2019 9:57:41 am
 * Modified By: Rick yang tongxue(🍔🍔) (origami@timvel.com)
 * -----
 */
.container {
  position: absolute;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgba(33, 33, 33, 0.1);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: white-to-black infinite linear 10s;
}
.title {
  color: rgba(33, 33, 33, 0.8);
  background-color: transparent;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  align-self: auto;
  text-align: center;
  font-size: 5em;
  font-weight: 100;
  animation: black-to-white infinite linear 10s;
  max-lines: 2;
}
.logo_container {
  flex-direction: column;
  width: 300px;
  height: width;
  /* position: absolute; */
  padding: 0px;
  background-color: red;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  position: absolute;
  /* top: 0; */
  width: 300px;
  height: width;
  align-self: center;
  transform: scale(1);
  animation: clockwise-spin infinite linear 15s;
}
.logo_wrapper1 {
  position: absolute;
  /* top: 0; */
  width: 300px;
  height: width;
  align-self: center;
  animation: clockwise-spin infinite linear 15s;
}
.logo_wrapper2 {
  position: absolute;
  width: 300px;
  /* left: 37.5%; */
  height: width;
  /* align-self: center; */
  animation: anticlockwise-spin infinite linear 15s;
}
.play {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@keyframes white-to-black {
  0% {
    background: rgba(33, 33, 33, 0.1);
  }
  50% {
    background: rgba(33, 33, 33, 0.8);
  }
  100% {
    background: rgba(33, 33, 33, 0.1);
  }
}

@keyframes black-to-white {
  0% {
    color: rgba(33, 33, 33, 0.8);
  }
  50% {
    color: rgba(250, 250, 250, 0.8);
  }
  100% {
    color: rgba(33, 33, 33, 0.8);
  }
}

@keyframes clockwise-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwise-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
